p {
    font-size: 14px;
    line-height: 1.9;
    font-weight: bold;
}

/* position: static, relative, absolute, fixed */

#id3 {
    position: relative;
    left: 30px;
    top: 30px;

    text-decoration: line-through underline;

}

#id2 {
    position: fixed;
    bottom: 30px;
}

#free {
    position: absolute;
    top: -10px;
    left: 50px;
}

#id1 {
    position: fixed;
    bottom: 0;
}



